<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="aid" class="org.Question1.Abc" >
        <property name="xyz" ref="bid"/>
    </bean>
    <bean id="bid" class="org.Question1.Xyz" >
        <constructor-arg name="abc" ref="aid"/>
    </bean>
</beans>