<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.example.Student" id="std1">
        <property name="name" value="vikas"/>
        <property name="studentId" value="124"/>
        <property name="city" value="lucknow"/>
    </bean>
    <bean class="org.example.Student" id="std2">
        <property name="name" value="Brijesh"/>
        <property name="studentId" value="541"/>
        <property name="city" value="gajipur"/>
    </bean>
</beans>