<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pr1" class="com.practice.MyBusinessClass"/>
    <bean id="c" class="com.practice.Car"/>
    <bean id="b" class="com.practice.Bike"/>
    <bean id="t" class="com.practice.Travel">
<!--        <property name="v" ref="b"/>-->
<!--        <property name="name" value="Vikas"/>-->
        <constructor-arg name="v" ref="c"/>
        <constructor-arg name="name" value="Shivani"/>
    </bean>
</beans>